/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  background-color: #e9e1e1;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

nav {
  background-color: #e14e4e;
  border-bottom: 3px solid #FFCB47;
  height: 5rem;
  /* padding: 0 1rem; */
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  padding: 0;
  margin: 20px;
  display: flex;
  background-color: inherit;
  font-size: 25px;
}

.nav li {
  list-style: none;
  margin-right: 20px;
  background-color: inherit;
}


.nav a {
  color: #fcfcfc;
  background-color: inherit;
  text-decoration: none;
  padding: 10px 15px;
}

.nav a:hover {
  background-color: #b23c3c;
  border-radius: 3px;
}


.park-card {
  width: calc(25% - 20px);
  margin: 10px;
  display: inline-block;
}

.park-name {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: Cantora One;
  letter-spacing: 1px;
}

.park-image {
  overflow: hidden;
  border-radius: 8px;
}

.park-image img {
  width: 500px;
  height: 300px;
  transition: transform 0.3s ease;
}

.park-image img:hover {
  transform: scale(1.1);
}

/* Parent container for ParkCards */
.park-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}