/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');


* {
  background-color: #FFFFFF;
  /* margin: 0;
  padding: 0; */
}

body {
  margin: 0;
}

#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

nav {
  background-color: #FFFFFF;
  border-bottom: 3px #FFCB47;
  height: 5rem;
  padding: 0 1 rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  padding: 0;
  margin: 20px;
  display: flex;
  background-color: #FFFFFF;
  font-size: 25px;
  /* list-style: none;
  flex-direction: row; */
}

.nav li {
  list-style: none;
  margin-right: 20px;
  background-color: #FCF8D7;
}

.park-card {
  width: calc(25% - 20px);
  margin: 10px;
  display: inline-block;
}

.park-name {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: Cantora One;
  letter-spacing: 1px;
}

.park-image {
  overflow: hidden;
  border-radius: 8px;
}

.park-image img {
  width: 500px;
  height: 300px;
  transition: transform 0.3s ease;
}

.park-image img:hover {
  transform: scale(1.1);
}

/* Parent container for ParkCards */
.park-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}